@use 'variables' as *;

#skills {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sk-cont {
  height: 100%;
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;

  .sk-right {
    margin-top: 10vh;
    height: 100%;
    width: 45%;
    padding: 20px;
  }
}

.sk-left {
  height: 100%;
  width: 45%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  h1,
  p {
    width: 85%;
  }
}

.sk-left-head {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 1rem;
    color: $web-clr;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h1 {
    color: #000;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: start;

    br {
      display: none;
    }
  }
  p {
    padding: 4px;
    font-size: 20px;
    font-weight: 400;
    color: #6f6b80;
    margin: 0px 2px;
    text-align: justify;
  }
  h5 {
    width: 85%;
  }
}

.skill-set {
  position: relative;
  width: 85%;
}

.sk-bar {
  position: relative;
  padding: 0 5px;
  height: inherit;
  width: 100%;
  margin: 2rem 0;
}

.skill-name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5em;
  color: #000;
  text-transform: uppercase;
  padding: 0 4px;
}

.sk-num,
.sk-pr {
  float: right;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.9em;
  color: #212529;
  padding-right: 1px;
}

.progress-bar {
  height: 8px;
  width: 100%;
  background-color: #e7e5f1;
  border-radius: 50px;
  margin: 4px;
  position: relative;
  /* overflow: hidden; */
}

.progress {
  border-radius: 5px;
  height: 100%;
  transition: width 1500ms linear;
}

// .skills-gif {}

.skills-gif img {
  width: 24vw;
  /* border-radius: 50%;
    height: fit-content;
    aspect-ratio: 1; */
}

@include breakpoint(large) {
  .sk-cont {
    flex-direction: column-reverse;
  }

  .sk-left,
  .sk-left-head {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .sk-left-head h5,
  .sk-left :where(h1, p) {
    width: 90% !important;
    text-align: center !important;
  }
  .sk-left-head > h1 > br {
    display: block;
  }

  .skills-gif img {
    width: 35vw;
  }
}

@include breakpoint(medium) {  .sk-left-head h1 {
    font-size: 1.2rem;
  }
}

@include breakpoint(small) {  .skills-gif img {
    width: 45vw;
  }
  

  // .sk-left-head h1 {
  //   font-size: 5.5vw;
  // }

  // .sk-left-head :where(p, h5),
  .skill-name,
  .sk-num,
  .sk-pr {
    font-size: 3.5vw !important;
  }
  // .sk-left-head :where(p, h5) {
  //   line-height: 6vw !important;
  // }
  .skill-name,
  .sk-num,
  .sk-pr {
    line-height: 8vw ;
  }
}
